<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImgurUploader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ImgurUploader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<applicationSettings>
		<ImgurUploader.Settings>
   <setting name="UploadURL" serializeAs="String">
    <value>https://api.imgur.com/3/image</value>
   </setting>
   <setting name="AuthURL" serializeAs="String">
    <value>https://api.imgur.com/oauth2/authorize</value>
   </setting>
   <setting name="TokenURL" serializeAs="String">
    <value>https://api.imgur.com/oauth2/token</value>
   </setting>
   <setting name="ClientID" serializeAs="String">
    <value>575caac0197cfa9</value>
   </setting>
   <setting name="ClientSecret" serializeAs="String">
    <value>af843350c88f177b4a0aa062d300c3c15ca46b09</value>
   </setting>
   <setting name="AlbumURL" serializeAs="String">
    <value>https://api.imgur.com/3/album</value>
   </setting>
   <setting name="UpdateURL" serializeAs="String">
    <value>https://api.github.com/repos/DBjelovuk/ImgurUploader/releases</value>
   </setting>
   <setting name="DownloadURL" serializeAs="String">
    <value>https://github.com/DBjelovuk/ImgurUploader/releases</value>
   </setting>
  </ImgurUploader.Settings>
	</applicationSettings>
	<userSettings>
    <ImgurUploader.Settings>
       <setting name="UserName" serializeAs="String">
          <value />
       </setting>
       <setting name="AccessToken" serializeAs="String">
          <value />
       </setting>
       <setting name="RefreshToken" serializeAs="String">
          <value />
       </setting>
       <setting name="CheckUpdates" serializeAs="String">
          <value>True</value>
       </setting>
    </ImgurUploader.Settings>
  </userSettings>
</configuration>
